* {
	padding: 0;
	background: #000;
	box-sizing: border-box;
	margin: 0;
}

html {
  scroll-behavior: smooth;
  transition-duration: 0.5s;
}
 
/*                                  ESTILOS NAVBAR  */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
	font-size: 24px;
	font-weight: bold;
	color: rgb(242, 233, 233);
	text-decoration: none;
  z-index: 2;
  }

  .navbar-logo .navBar-img {
    width: 30%;
    height: 50%;
  }
  
  .navbar-menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 1;
  }
  
  .navbar-menu li {
	margin-right: 20px;
  }
  
  .navbar-menu li a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
  }
  
  .navbar-toggle {
	display: none;
	cursor: pointer;
	color: rgb(255, 253, 253);
	z-index: 2;
  }
  
  .navbar-toggle span {
	display: block;
	width: 30px;
	height: 3px;
	margin-bottom: 5px;
	background-color: rgb(252, 244, 244);
  border-radius: 9px;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out;
  }
  
  

 /*                                   RESPONSIVE MEDIA */
  @media (max-width: 768px) {
	.navbar-menu {
	  display: none;
	}
  
	.navbar-toggle {
	  display: block;
	}
  
	.navbar-toggle.active span:nth-child(1) {
	  transform: rotate(45deg) translate(5px, 5px);
	}
  
	.navbar-toggle.active span:nth-child(2) {
	  opacity: 0;
	}
  
	.navbar-toggle.active span:nth-child(3) {
	  transform: rotate(-45deg) translate(5px, -5px);
	}
  
	.navbar-menu.active {
	  display: flex;
	  flex-direction: column;
	  position: absolute;
	  top: 100%;
	  left: 0;
	  width: 100%;
	  background-color: rgb(20, 20, 20);
	  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	  padding: 20px;
	}
  
	.navbar-menu.active li {
	  margin-bottom: 10px;
	}
  }

  .container {
	position: relative;
  }
  
  .navbar {
	position: relative;
	z-index: 1;
	/*                             Resto del código de la navbar */
  }
  
  .background-image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
  }
  
  body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
  }
  
  header {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
  }
  
  h1 {
	font-size: 3rem;
	margin-bottom: 10px;
  }
  
  p {
	font-size: 1.2rem;
  }
  
  main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
  }
  
  .projects {
	margin-bottom: 50px;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .project {
	margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
  }
  
  .project h3 {
    text-align: center;
	font-size: 1.5rem;
	margin-bottom: 10px;
  }
  
  .project p {
	font-size: 1.2rem;
	margin-bottom: 10px;
  }
  
  .project a {
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 1.2rem;
	border-radius: 5px;
  }
  
  .project a:hover {
	background-color: #fff;
	color: #333;
  }

  
  
  .about {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 50px;
  }
  
  .about img {
	width: 300px;
	height: 300px;
	margin-right: 50px;
	border-radius: 50%;
  }
  
  .contact form {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
  }
  
  .contact label {
	font-size: 1.2rem;
	margin-bottom: 10
  }

  .proyect_inicio {
	text-align: center;
  }

  /*                                SECCION SOBRE MI */
  .sobremi{
    background-color: #1e2326;
    color: #fff;
}
.sobremi .contenido-seccion{
    width: 100%;
    margin: auto;
    height: 50%;
}
.sobremi h2{
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #1CB698;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}


/*                                SECCION S K I L L S */
.skills{
  background-color: #252A2E;
  color: #fff;

}
.skills .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.skills h2{
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;

}
.skills .fila{
  display: flex;
}
.skills .fila .col{
  width: 50%;
  padding: 0 20px;
}
.skills .fila .col h3{
  font-size: 28px;
  font-family: 'Righteous';
  margin-bottom: 25px;
}
.skills .skill > span{
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.skills .skill .barra-skill{
  height: 8px;
  width: 80%;
  background-color: #131517;
  position: relative;
  margin-bottom: 30px;
}
.skills .skill .progreso{
  background-color: #1CB698;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}
.skills .skill .barra-skill span{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #1CB698;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
  width: 0%;
  animation: 2s javascript forwards;
}
@keyframes javascript {
  0%{width: 0%;}
  100%{width: 40%;}
}

.skills .skill .htmlcss{
  width: 0%;
  animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
  0%{width: 0%;}
  100%{width: 89%;}
}

.skills .skill .photoshop{
  width: 0%;
  animation: 2s photoshop forwards;
}
@keyframes photoshop {
  0%{width: 0%;}
  100%{width: 20%;}
}

.skills .skill .wordpress{
  width: 0%;
  animation: 2s wordpress forwards;
}
@keyframes wordpress {
  0%{width: 0%;}
  100%{width: 10%;}
}

/* .skills .skill .drupal{
  width: 0%;
  animation: 2s drupal forwards;
}
@keyframes drupal {
  0%{width: 0%;}
  100%{width: 5%;}
}

.skills .skill .comunicacion{
  width: 0%;
  animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
  0%{width: 0%;}
  100%{width: 80%;}
}

.skills .skill .trabajo{
  width: 0%;
  animation: 2s trabajo forwards;
}
@keyframes trabajo {
  0%{width: 0%;}
  100%{width: 70%;}
}

.skills .skill .creatividad{
  width: 0%;
  animation: 2s creatividad forwards;
}
@keyframes creatividad {
  0%{width: 0%;}
  100%{width: 99%;}
}

.skills .skill .dedicacion{
  width: 0%;
  animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
  0%{width: 0%;}
  100%{width: 65%;}
}

.skills .skill .proyect{
  width: 0%;
  animation: 2s proyect forwards;
}
@keyframes proyect {
  0%{width: 0%;}
  100%{width: 94%;} 
} */


/*                             CSS DEL FORMULARIO  */
.contact {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(238, 234, 234, 0.2);
  text-align: center;
  color: #fff;
  z-index: 100;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #fff;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.contact label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #fff;
}

.contact input,
.contact textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  color: #fff;
}

.contact textarea {
  height: 150px;
}

.contact button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contact button:hover {
  background-color: #0062cc;
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contact input:invalid,
.contact textarea:invalid {
  border: 2px solid red;
}

.contact input:valid,
.contact textarea:valid {
  border: 2px solid green;
}

.contact form {
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.contact form.show {
  opacity: 1;
  transform: translateY(0);
}


  @media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }
  }
  

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #1CB698;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    z-index: 9999;
  }
  
  .scroll-to-top:hover {
    background-color: #fff;
    color: #1CB698;
    border: 2px solid #1CB698;
  }